.camo {
  width: 100%;
}

body {
  background-color: #F9F9F9;
  font-style: verdana;
}

.wit {
  color: black;
  font-size: 15px;
}

h1 {
  color: black;
  font-size: 25px;
}

p {
  color: black;
}

.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e5e5e5;
    border-radius: 2px;
    border-color: #F2F2F2;
    border-style: solid;
}

.normall {
  float: none;
}

.normal {
  float: none;
}

.navii {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F2F2F2;
}
